* {
  color: rgb(70, 76, 102);
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.subtitle {
  margin-top: 0;
  font-family: 'Courier New', Courier, monospace;
}
